/*
* @Author: liqi
* @Date:   2017-09-26 12:11:09
* @Last Modified by:   Administrator
* @Last Modified time: 2017-10-20 08:54:13
*/
*{margin: 0;
  padding: 0;
  list-style:none;
}
a{ 
	text-decoration: none;
}
.every{
	width: 100%;
	height:100%;
	background:#f5f5f5;
	position: relative;
}
/* 最上边登陆栏开始 */
.head{
	width:100%;
	height: 38px;
	background:#f2f2f2; 
}
.head .head1{
	width: 1226px;
	height: 38px;
	background:#f2f2f2;
	margin: 0 auto;
	border-bottom: 1px solid #e5e5e5;
}
.head1 .head2{
	width: 210px;
	height: 38px;
	background:#f2f2f2;
	float: left;
}
.head1 .head3{
	width: 663px;
	height: 38px;
	background:#f2f2f2;
	float: right;
}
.head2 .head-left{
	width: 210px;
	height: 38px;
	background:#f2f2f2;
}
.head-left li:first-child:hover{
	cursor:text;
}
.head-left li:nth-child(2):hover,.head-left li:last-child:hover{
	color: #ff0036; 	
}
.head-right li:first-child{
	margin-right: 0
}
.head-right li,.head-left li{ 
	 height: 38px; 
	margin-top: 15px;
	margin-right: 15px;
	font-size: 12px;
	float: left;
	color:#999999;
	cursor: pointer;
}
.head-left li:last-child{
	margin-right: 0;
}
.box1{
	width: 72px;
	height: 32px;
	background: #f2f2f2;
	margin-top: -9px;
}
.box1-1{
	font-size: 12px;
	color:#999999;
	float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.sanjiaoxing{
	width: 0px;
	height: 0px;
	border-top:3px solid #999999;
	border-bottom: 3px solid transparent;
	border-left: 3px solid transparent; 
	border-right:3px solid transparent;
	float: left;
	margin-top: 18px;
	margin-left: 3px;
	transition: all 0.3s;
}
.box1:hover{
	background: #fff;
}
.box1:hover .box1-1{
	color: #ff0036;
	text-decoration: underline;
}
.box1:hover .sanjiaoxing{
	transform:rotate(180deg) translateY(3px);

}
.icon-taoxin:before{
	color:#ff0036 ;
	font-size: 12px;
	margin-left: 10px;
	margin-right: 3px;
}
.head-right li:nth-child(2){
	margin-right: 23px;
}
.head-right li:nth-child(2):hover{
	color:#ff0036 ;
}
.icon-gouwuche:before{
	color:#ff0036 ;
	font-size: 12px;
	margin-right: 3px;
}
.head-right li:nth-child(3){
	margin-right: 23px;
}
.head-right li:nth-child(3):hover{
	color:#ff0036 ;
}
.box2{
	width: 60px;
	height: 32px;
	background: #f2f2f2;
	margin-top: -9px;
	margin-left: -7px;
}
.box2-1{
	font-size: 12px;
	color:#999999;
	float: left;
    margin-left:7px;
    margin-top: 10px;
}
.box2:hover{
	background: #fff;
}
.box2:hover .sanjiaoxing{
	transform:rotate(180deg)
	translateY(3px);
}
.box2:hover .box2-1{
	color: #ff0036;
	text-decoration: underline;
}
.box3{
	width: 75px;
	height: 16px;
	/* background: #f2f2f2; */
	border-left:1px solid #999999; 
	margin-left: -15px;
	margin-top: 2px;
}
.icon-shouji:before{
	color:#ff0036 ;
	font-size: 12px;
	margin-top: 2px;
	margin-left: 10px;
	float: left;
}
.box3-2{
	font-size: 12px;
	color:#999999;
	float: right;
    margin-right:13px;
    margin-left: 3px;
}
.box3-2:hover{
	color:#ff0036  ;
}
.head-right li:nth-child(6):hover{
	color:#ff0036  ;

}
.head-right li:last-child{
	margin-right: 0;
}

.box4{
	width: 95px;
	height: 32px;
	background: #f2f2f2;
	margin-top: -9px;
}
.icon-iconnav2:before{
	font-size:12px;
	color:#ff0036 ;
	float: left;
	margin-top: 12px;
	margin-left: 7px;
}
.box4-1{
	font-size: 12px;
	color:#999999;
	float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.sanjiaoxing-1{
	width: 0px;
	height: 0px;
	border-top:3px solid #999999;
	border-bottom: 3px solid transparent;
	border-left: 3px solid transparent; 
	border-right:3px solid transparent;
	float: left;
	margin-top: 18px;
	margin-left: 3px;
	transition: all 0.3s;
}
.box4:hover{
	background: #fff;
}
.box4:hover .box4-1{
	color: #ff0036;
	text-decoration: underline;
}
.box4:hover .sanjiaoxing-1{
	transform:rotate(180deg)
	translateY(3px);
}
.head-right li:nth-child(6){
	margin-top: 17px;
}
/* 最上边登陆栏结束 */
/* 天猫二logo搜索栏开始  */
.er{
	width: 100%;
	height: 131px;
	background:#fff;
}
.er .er1{
	width: 1230px;
	height: 131px;
	background:#fff;
	margin: 0 auto;
}
.er1 img{
	float: left;
}
.kuang{
	margin: 0 auto;
	float: left;
	margin-left: 117px;
	margin-top: 38px;
	border: 2px solid #ff0036;
}
.sousuo{
	width: 128px;
	height: 42px;
	background:#ff0036; 
	border: 2px solid #ff0036;
	margin-top: 38px;
	color: #fff;
	font-size: 20px;
}
.nav{
	width: 566px;
	height: 16px;
	background:#fff;
	margin-left: 317px;
	margin-top: 8px;
}
.nav li{
	font-size: 14px;
	color:#999999;
	float: left;
	padding-right:13px;
	padding-left:13px;
	border-right:1px solid #999999; 
	cursor: pointer;	
}
.nav li:first-child{
	padding-left:0;
	color: #ff0036;
}
.nav li:nth-child(4),.nav li:nth-child(7){
	color: #ff0036;
}
.nav li:last-child{
	padding-right: 0;
	border-right:none;
	color: #ff0036;
}
.nav1{
	width: 100%;
	height: 35px;
	background:#fff;
	border-bottom: 1px solid  #ff0036;
}
.nav2{
	height: 35px;
	width: 780px;
	margin-top:31px;
	background:#fff;
	margin: 0 auto;
}
.chaoshi00{
	float: left;	
}
.guoji00{
	float: left;
}
.nav2 .nav2-1{
/* 	float: right; */
    width: auto;
    height: 35px;
	background:#fff;
	/* float: right; */

}
.nav2 .nav2-1 li{
	font-size: 16px;
	float: left;
	padding-left: 10px;
	line-height: 35px;
	color: #333333;
}
.nav2 .nav2-1 li:hover{
	color: #ff0036;
	cursor: pointer;
}
/* 天猫二logo搜索栏结束  */
/* BANNA开始 */
.banna{
	width: 100%;
	height:500px;
	background:#e8e8e8;
	position: relative;
}
.banna .banna1{
	width: 1180px;
	height: 500px;
	background: red;
	margin: 0 auto;
}
.banna1 li{
	width:1180px;
	height: 500px; 
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
.banna1 li a{
	display: block;
	height: 100%;
	width: 100%;
}
.banna1 li img{
	display: block;
	height: 100%;
	width: 100%;
}
.nav-zuo{
	width:200px;
	height: 36px;
	background:#ff0036;
	position: absolute;
	top:-36px; 
	left:0;
	margin: 0 84.5px;
}
.nav-zuo .icon-iconnav2:before{
    color:#fff ;
	font-size: 12px;
	margin-left: 15px;
	margin-right: 13px;
}
.nav-zuo .nav-zuo2{
	font-size: 16px;
	line-height: 36px;
	color: #fff;
}
.navdhz{
	width: 1180px;
	height: 500px;
	top: 0;
	left: 0;
	position: absolute;
	margin: 0 84.5px;
}
.nav-zuoxia{
	width: 200px;
	height: 500px;
	position: absolute;
	left:0;
	top: 0;	
}
.nav-zuoxia1{
	width: 200px;
	height: 500px;
	background: rgba(0, 0, 0, 0.5);
}
.nav-zuoxia1 li{
	width: 200px;
	height:31px;
/* 	background: red; */
	font-size: 13px;
	line-height: 31px;
}
.nav-zuoxia1 li:hover{
	background: #fff;
}
.nav-zuoxia1 li i{
	font-size: 18px;
	margin-left: 13px;
	margin-right: 8px;
	color:#999999;	
}
.nav-zuoxia1 li a{
   	color:#fff;	
}
.one span{
	font-size: 13px;
	color: #fff;

}
.nav-zuoxia1 .one:hover a,.nav-zuoxia1 .one:hover i,.nav-zuoxia1 .one:hover span{
	color:#ff0036;
	font-size: 16px;
}
.nav-zuoxia1 .two:hover a,.nav-zuoxia1 .two:hover i{
	color:#5389f0;
	font-size: 15px;
}
.nav-zuoxia1 .three:hover a,.nav-zuoxia1 .three:hover i{
	color:#573aec;
	font-size: 15px;
}
.nav-zuoxia1 .seven:hover a,.nav-zuoxia1 .seven:hover i{
	color:#fa6868;
	font-size: 15px;
}
.nav-zuoxia1 .eight:hover a,.nav-zuoxia1 .eight:hover i{
	color:#f7a224;
	font-size: 15px;
}
.nav-zuoxia1 .ten:hover a,.nav-zuoxia1 .ten:hover i{
	color:#dd2727;
	font-size: 15px;
}
.nav-zuoxia1 .six:hover a,.nav-zuoxia1 .six:hover i{
	color:#3bc7b0;
	font-size: 15px;
}
.juxing{
	width: 200px;
	height: 5px;
/* 	background: yellow; */
	float: left;
	position: absolute;
	bottom: 26px;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
}
.juxing li{
	width: 25px;
	height: 5px;
	float: left;
	margin-right: 8px;
	background: rgba(0, 0, 0, 0.4);
	cursor: pointer;
}
.juxing li:hover{
	background: rgba(0, 0, 0, 0.2); 
}
/* BANNA结束 */
/* 定位 */
.f{
	width: 36px;
	height: 371px;
	/* background: red; */
	position: fixed;
	top:350px ;
	bottom: 50px;
	left: 50px;	
}
.f1{
   width: 36px;
   height:36px;
   background: #ff0036;
   text-align: center;
   line-height: 36px;
   font-size: 12px;
   color: #fff;
   cursor: pointer;
   
}
.f2{
   width: 36px;
   height:31px; 
   background: rgba(0, 0, 0, 0.6);
   margin-top: 1px;
   padding-top: 5px;
   cursor: pointer;
   
}
.f2 span{
	display: block;
	width: 25px;
	height: 25px;
	text-align: center;
   line-height: 12px;
   font-size: 12px;
   margin-left: 4px;
   color: #fff;
}
.f3{
   width: 36px;
   height:31px; 
   background: rgba(0, 0, 0, 0.3);
   margin-top: 1px;
   padding-top: 5px;
   cursor: pointer;
   
}
.f3 span{
	display: block;
	width: 25px;
	height: 25px;
	text-align: center;
   line-height: 12px;
   font-size: 12px;
   margin-left: 4px;
   color: #fff;
}
.f :nth-child(2):hover{
	background: #64C333;
}
.f :nth-child(3):hover{
	background: #000;
}
.f :nth-child(4):hover{
	background: #EA5F8D;
}
.f :nth-child(5):hover{
	background: #0AA6E8;
}
.f :nth-child(6):hover{
	background: #64C333;
}
.f :nth-child(7):hover{
	background: #F15453;
}
.f :nth-child(8):hover{
	background: #19C8A9;
}
.f :nth-child(9):hover{
	background: #000;
}
.every1{
	width: 35px;
	height: 100%;
	background:black;
	position:fixed;
	right: 0;
	top: 0;
	bottom: 0; 
	z-index: 999;
}
.every1 .every2{
	width: 35px;
	height: 34px;
	margin-top: 170px;
	background: red;
	background: url('../img/logoblack.png') no-repeat center center;
	position: relative;
	cursor: pointer;
}
.every2:hover{
	background: url('../img/logored.png') no-repeat center center;
}
.every2 .every2-1{
	width: 112px;
	height: 34px;
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	top:0;
	left:-152px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	line-height: 34px;
	opacity: 0;
	transition: all 0.8s;

}
.every2-1 .every2-2{
	width: 0;
	height: 0;
	border-top:6px solid  transparent;
	border-right:6px solid transparent;
	border-left:6px solid  rgba(0, 0, 0, 0.6); 
	border-bottom: 6px solid transparent;
	position: absolute;
	top: 11px;
	margin-left: 112px;
}
.every2:hover .every2-1{
	opacity: 1;
	transform: translateX(40px);
}
.every3{
	width: 35px;
	height: 112px;
	background: black;
	cursor: pointer;
}
.every3-1{
	width: 23px;
	height: 110px;
	/* background:red; */
	margin-top: 15px;
	margin-left: 6px;
	border-top: 1px solid #444444;
	border-bottom: 1px solid #444444;
}
.every3-1 .icon-gouwuche:before{
	display: block;
	width: 15px;
	height: 17px;
	margin-top: 18px;
	font-size: 15px;
	margin-left:4px;
	color: #f10033;
}
.every3-1 span{
	display: block;
	width: 13px;
	height: 50px;
	font-size: 12px;
	text-align: center;
	margin-left: 5px;
	margin-top: 5px;
	color: #fff;
}
.every3:hover{
	background:#f10033; 
}
.every3:hover .icon-gouwuche:before{
	color:#fff ;
}
.every3:hover .every3-1{
	border-top: 1px solid #f10033;
	border-bottom: 1px solid #f10033;
} 
.every4{
	width: 35px;
	height: 28px;
	background:black;
	position: relative;
	cursor: pointer;
	padding-top: 5px;
	margin-top: 8px;
	margin-bottom: 6px;
}
.icon-qian:before{
	display: block;
	width: 25px;
	height: 18px;
	font-size: 25px;
	color: #fff;
	margin-left: 7px;
}
.every4:hover{
	background:#f10033 ;
}
.every4 .every4-1{
	width: 112px;
	height: 34px;
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	top:0;
	left:-152px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	line-height: 34px;
	opacity: 0;
	transition: all 0.8s;

}
.every4-1 .every4-2{
	width: 0;
	height: 0;
	border-top:6px solid  transparent;
	border-right:6px solid transparent;
	border-left:6px solid  rgba(0, 0, 0, 0.6); 
	border-bottom: 6px solid transparent;
	position: absolute;
	top: 11px;
	margin-left: 112px;
}
.every4:hover .every4-1{
	opacity: 1;
	transform: translateX(40px);
}
.every5{
	width: 35px;
	height: 28px;
	background:black;
	position: relative;
	cursor: pointer;
	padding-top: 5px;
	margin-top: 8px;
    margin-bottom: 4px;
}
.every5 .icon-taoxin:before{
	display: block;
	width: 22px;
	height: 18px;
	font-size: 22px;
	color: #fff;
	margin-left: 7px;
}
.every5:hover{
	background:#f10033 ;
}
.every5 .every5-1{
	width: 112px;
	height: 34px;
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	top:0;
	left:-152px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	line-height: 34px;
	opacity: 0;
	transition: all 0.8s;

}
.every5-1 .every5-2{
	width: 0;
	height: 0;
	border-top:6px solid  transparent;
	border-right:6px solid transparent;
	border-left:6px solid  rgba(0, 0, 0, 0.6); 
	border-bottom: 6px solid transparent;
	position: absolute;
	top: 11px;
	margin-left: 112px;
}
.every5:hover .every5-1{
	opacity: 1;
	transform: translateX(40px);
}
.every6{
	width: 35px;
	height: 28px;
	background:black;
	position: relative;
	cursor: pointer;
	padding-top: 5px;
	margin-top: 8px;
    margin-bottom: 8px;
}
.icon-wujiaoxing:before{
	display: block;
	width: 25px;
	height: 18px;
	font-size: 22px;
	color: #fff;
	margin-left:7px;
}
.every6:hover{
	background:#f10033 ;
}
.every6 .every6-1{
	width: 112px;
	height: 34px;
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	top:0;
	left:-152px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	line-height: 34px;
	opacity: 0;
	transition: all 0.8s;

}
.every6-1 .every6-2{
	width: 0;
	height: 0;
	border-top:6px solid  transparent;
	border-right:6px solid transparent;
	border-left:6px solid  rgba(0, 0, 0, 0.6); 
	border-bottom: 6px solid transparent;
	position: absolute;
	top: 11px;
	margin-left: 112px;
}
.every6:hover .every6-1{
	opacity: 1;
	transform: translateX(40px);
}
.every7{
	width: 35px;
	height: 28px;
	background:black;
	position: relative;
	cursor: pointer;
	padding-top: 5px;
	margin-top: 8px;
    margin-bottom: 8px;
}
.icon-shizhong:before{
	display: block;
	width: 25px;
	height: 18px;
	font-size: 22px;
	color: #fff;
	margin-left: 7px;
}
.every7:hover{
	background:#f10033 ;
}
.every7 .every7-1{
	width: 112px;
	height: 34px;
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	top:0;
	left:-152px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	line-height: 34px;
	opacity: 0;
	transition: all 0.8s;

}
.every7-1 .every7-2{
	width: 0;
	height: 0;
	border-top:6px solid  transparent;
	border-right:6px solid transparent;
	border-left:6px solid  rgba(0, 0, 0, 0.6); 
	border-bottom: 6px solid transparent;
	position: absolute;
	top: 11px;
	margin-left: 112px;
}
.every7:hover .every7-1{
	opacity: 1;
	transform: translateX(40px);
}
.every8{
	width: 35px;
	height: 28px;
	background:black;
	position: relative;
	cursor: pointer;
	padding-top: 5px;
	margin-top: 8px;
    margin-bottom: 8px;
}
.icon-chongzhi:before{
	display: block;
	width: 25px;
	height: 18px;
	font-size: 22px;
	color: #fff;
	margin-left: 7px;
}
.every8:hover{
	background:#f10033 ;
}
.every8 .every8-1{
	width: 112px;
	height: 34px;
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	top:0;
	left:-152px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	line-height: 34px;
	opacity: 0;
	transition: all 0.8s;

}
.every8-1 .every8-2{
	width: 0;
	height: 0;
	border-top:6px solid  transparent;
	border-right:6px solid transparent;
	border-left:6px solid  rgba(0, 0, 0, 0.6); 
	border-bottom: 6px solid transparent;
	position: absolute;
	top: 11px;
	margin-left: 112px;
}
.every8:hover .every8-1{
	opacity: 1;
	transform: translateX(40px);
}
.every9{
	width: 35px;
	height: 28px;
	background:black;
	position: relative;
	cursor: pointer;
	padding-top: 5px;
	margin-top: 110px;
    margin-bottom: 8px;
}
.every9 .icon-shouji1:before{
	display: block;
	width: 25px;
	height: 18px;
	font-size: 22px;
	color: #fff;
	margin-left: 7px;
}
.every9:hover{
	background:#f10033 ;
}
.every9 .every9-1{
	width: 112px;
	height: 34px;
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	top:0;
	left:-152px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	line-height: 34px;
	opacity: 0;
	transition: all 0.8s;

}
.every9:hover .every9-1{
	opacity: 1;
	transform: translateX(40px);
}
.every10{
	width: 35px;
	height: 28px;
	background:black;
	position: relative;
	cursor: pointer;
	padding-top: 5px;
	margin-top: 5px;
    margin-bottom: 8px;
    position: relative;
}
.every10 .icon-erweima2:before{
	display: block;
	width: 25px;
	height: 18px;
	font-size: 22px;
	color: #fff;
	margin-left: 7px;
}
.every10:hover{
	background:#f10033 ;
}
.every10 img{
	opacity: 1;
	position: absolute;
	left: -191px;
	top: -208px;
	display: none;
}
.every10:hover img{
	display: block;
}

.every11{
	width: 35px;
	height: 28px;
	background:black;
	position: relative;
	cursor: pointer;
	padding-top: 5px;
	margin-top: 5px;
    margin-bottom: 8px;
}
.every11 .icon-TOP:before{
	display: block;
	width: 25px;
	height: 18px;
	font-size: 22px;
	color: #fff;
	margin-left: 7px;
}
.every11:hover{
	background:#f10033 ;
}
.every11 .every11-1{
	width: 112px;
	height: 34px;
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	top:0;
	left:-152px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	line-height: 34px;
	opacity: 0;
	transition: all 0.8s;

}
.every11-1 .every11-2{
	width: 0;
	height: 0;
	border-top:6px solid  transparent;
	border-right:6px solid transparent;
	border-left:6px solid  rgba(0, 0, 0, 0.6); 
	border-bottom: 6px solid transparent;
	position: absolute;
	top: 11px;
	margin-left: 112px;
}
.every11:hover .every11-1{
	opacity: 1;
	transform: translateX(40px);
}
/* 品牌闪购开始 */
.shangou{
	width: 100%;
	height: 372px;
	margin-top: 33px;
	background:#f5f5f5;
}
.shangou0{
	width: 1230px;
	height:372px;
	background:#f5f5f5;
	margin: 0 auto;
}
.shangou1{
	width: 234px;
	height: 372px;
/* 	background: yellow; */
	margin-right: 14px;
	float: left;
}
.shangou1-1{
	width: 234px;
	height: 54px;
	background:#fff;
}
.shangou1-1 strong{
	font-size: 19px;
	color: black;
	line-height: 54px;
	margin-left: 10px;
	margin-right: 10px;
}
.shangou1-1 b{
	font-size: 14px;
	color: black;
	line-height: 54px;
	margin-right: 10px
}
.shangou1-2{
	display: block;
	width:234px;
	height: 318px;
}
.shangou1-2 img{
	display: block;
	width:234px;
	height: 318px;
}
.shangou1-2:hover{
	opacity: 0.7;
}
.icon-gengduo:before{
	color: #9b9b9b;
}
.shangou2{
	width: 484px;
	height: 372px;
/* 	background: yellow; */
	margin-right: 14px;
	float: left;
}
.shangou2-1{
	width: 484px;
	height: 54px;
	background:#fff;
}
.shangou2-1 strong{
	font-size: 19px;
	color: black;
	line-height: 54px;
	margin-left: 10px;
	margin-right: 10px;
}
.shangou2-1 b{
	font-size: 14px;
	color: black;
	line-height: 54px;
	margin-right: 10px
}
.shangou2-1 a{
		margin-left: 200px;
		color:#9b9b9b ;
}
.shangou2-2{
	display: block;
	width:484px;
	height: 318px;
}
.shangou2-2 img{
	display: block;
	width:484px;
	height: 318px;
}
.shangou2-2:hover{
	opacity: 0.7;
}
.shangou2-1 a .icon-gengduo:before{
	color: #9b9b9b;
	margin-left: 10px;
} 
.shangou3{
	width: 484px;
	height: 372px;
/* 	background: yellow; */
	float: left;
}
.shangou3-1{
	width: 484px;
	height: 54px;
	background:#fff;
}
.shangou3-1 strong{
	font-size: 19px;
	color: black;
	line-height: 54px;
	margin-left: 10px;
	margin-right: 10px;
}
.shangou3-1 b{
	font-size: 14px;
	color: black;
	line-height: 54px;
	margin-right: 10px
}
.shangou3-1 a{
		margin-left: 200px;
		color:#9b9b9b ;
}
.shangou3-2{
	display: block;
	width:484px;
	height: 318px;
}
.shangou3-2 img{
	display: block;
	width:484px;
	height: 318px;
}
.shangou3-2:hover{
	opacity: 0.7;
}
.shangou3-1 a .icon-gengduo:before{
	color: #9b9b9b;
	margin-left: 10px;
} 
/* 品牌闪购结束 */
/* 品牌大杂烩开始 */
.za{
	width: 100%;
	height: 326px;
	background:#f5f5f5;
	margin-top: 15px;
}
.za0{
	width: 1230px;
	height: 326px;
	background: #f5f5f5;
	margin: 0 auto;
	position: relative;
}
.za1{
	width: 1230px;
	height: 326px;
	background: #f5f5f5;
	margin: 0 auto;
}
.za1 li{
	display: block;
	width: 122px;
	height: 108px;
	float: left;
	border-left: 1px solid #f5f5f5;
	position: relative;	
}
.za1-1{
	display: block;
	width: 122px;
	height: 108px;
	float: left;
	border-left: 1px solid #f5f5f5;	
}
.za2{
	width: 122px;
	height: 108px;
	background: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    top: 0;
   /*  display: none; */
    cursor: pointer;
    opacity: 0;
    transition: all 0.5s;

}
.za2 .icon-taoxin:before{
	display: block;
	font-size: 15px;
	color:#fff;
	margin-left: 95px;
	margin-top: 10px;
}
.za2 .za2-1{
	display: block;
	width: 122px;
	height: 20px;
/* 	background: green; */
	text-align: center;
	line-height: 20px;
	font-size: 13px;
	margin-top: 10px;
	color: #fff;
}
.za2 span{
	display: block;
	width: 60px;
	height: 20px;
	background: red;
	font-size: 12px;
	margin-left: 31px;
	margin-top: 10px;
	line-height: 20px;
	text-align: center;
	border-radius:20px;
}
.za1 li:hover .za2{ 
	opacity: 1;
}
.zai1-1 img{
	display: block;
	width: 122px;
	height: 108px;
	float: left;
}
.za1-2{
	display: block;
	width: 122px;
	height: 108px;
	float: left;
	border: 1px solid #f5f5f5;
	border-right: none;
}
.zai1-2 img{
	display: block;
	width: 122px;
	height: 108px;
	float: left;
}
.za1-3{
	display: block;
	width: 122px;
	height: 108px;
	background:#fff;
	float: left;
	color: #a9a9b4;
}
.icon-xuanzhuan:before{
	display: block;
	margin-left: 44px;
	margin-top: 28px;
	font-size: 	35px;
	transition: all 1s;
	transform-origin:17.5px 18.8px;	
}
.za1-3 span{
	margin-left: 33px;
}
.za1-3:hover{
	background:#ff0036;
}
.za1 li:hover .icon-xuanzhuan:before{
	transform: rotate(360deg)
} 
/* 品牌大杂烩结束 */
/* 天猫超市开始 */
.chaoshi{
	width: 100%;
	height: 59px;
	background: #f5f5f5;
}
.chaoshi0{
	width: 1230px;
	height: 59px;
	background:#f5f5f5;
	margin: 0 auto;
}
.chaoshi0 img{
	display: block;
	width: 214px;
	height: 25px;
	margin-top: 24px;
	float: left;
}
.chaoshi1{
	width: 580px;
	height: 59px;
	background:#f5f5f5;
	float: right;
}
.chaoshi1-1{
	width: 576px;
	height: 34px;
	background:#f5f5f5;
	margin-top: 23px;
}
.chaoshi1-1 li{
	margin-top: 15px;
	display: block;
	width: 48px;
	height: 19px;
	float: left;
	font-size: 12px;
	text-align: center;
	margin-left: 12px;
	margin-right: 12px;
	cursor: pointer;
}
.chaoshi1-1 li:hover{
	border-bottom: 1px solid black;
}
.chao{
	width: 100%;
	height: 631px;
	background:#f5f5f5;
}
.chao1{
	width: 1230px;
	height: 618px;
	background:#f5f5f5;
	margin: 0 auto;
}
.chao1-1{
	width: 235px;
	height: 618px;
/* 	background: green; */
	float: left;
	margin-right: 13px;
	opacity: 1;
}
.chao1-2{
	display: block;
	width: 235px;
	height: 618px;
/* 	background: green; */
}
.chao1-2 img{
	display: block;
	width: 235px;
	height: 618px;
/* 	background: green; */
}
.chao1-1:hover{
	opacity: 0.6;
}
.chao2{
	width: 982px;
	height: 618px;
/* 	background:green; */
	float: left;
}


.chao2-1{
	width: 982px;
	height: 302px;
/* 	background: pink; */
}
.chao2-2{
	width: 982px;
	height: 302px;
/* 	background: pink; */
	margin-top: 13px;
}


.chao3{
	width: 484px;
	height: 302px;
	background:#fff;
	float: left;
	margin-right: 13px;
}
.chao3:hover .chao3-1{
	opacity: 0.7;
}
.chao3-1{
	width: 460px;
	height: 283px;
	background:#fff;
	margin: 10px 12px;
	box-shadow: 0 1px 15px 0.5px rgba(214, 214, 214, 1.0);

}
.nan1{
	width: 230px;
	height: 57px;
	background:#00b262;
	font-size: 16px;
	text-align: center;
	line-height: 57px;
	position: relative;
}
.nan1-1{
	width: 460px;
	height: 226px;
/* 	background: green; */
	position: absolute;
	left: 0;
	top: 57px;
}
.nan1-2{
	display:block;
	width: 230px;
	height: 226px; 
	margin-left: 230px;
	background: pink;
}
.nan1-2 img{
	display: block;
	width: 230px;
	height: 226px;
}
.nan1-3{
	width: 255px;
	height: 87px;
	background: rgba(241, 241,241, 0.8);
	position: absolute;
	margin-top:-141px;
}
.nan1-4{
	width: 0;
	height: 0;
	border-right: 43px solid transparent;
	border-left:43px solid rgba(241, 241,241, 0.8);
	border-bottom: 43px solid transparent;
	border-top: 43px solid transparent;
	margin-left:255px;
}
.nan1-4 img{
	display: block;
	width: 23px;
	height: 23px;
	margin-left: -274px;
	margin-top: -30px;
}
.nan1-4 .lv1{
	display: block;
	width: 255px;
	height: 30px;
	text-align: center;
/* 	background: red; */
	font-size: 24px;
	color: #00b262; 
	line-height: 30px;
	margin-left: -298px;
	margin-top: -27px;
}
.nan1-4 .lv2{
	display: block;
	width: 152px;
	height: 40px;
/* 	background: red; */
	font-size: 16px;
	line-height: 40px;
	margin-left: -298px;
}
.nan1:hover{
	background: #00b262;
}
.nan2{
	width: 230px;
	height: 57px;
	background:#f1f1f1;
	font-size: 16px;
	text-align: center;
	/* margin-left: 315px; */
	line-height: 57px;
	margin-left: 230px;
	margin-top: -57px;
	position: relative;
	cursor: pointer;
}
.nan22{
	width: 230px;
	height: 57px;
	background:#f1f1f1;
	font-size: 16px;
	text-align: center;
	line-height: 57px;
	position: absolute;
	top: 0px;
	left: -230px;
	display: none;
}
.nan2-1{
	width: 460px;
	height: 226px;
/* 	background: green; */
	position: absolute;
	left: -230px;
	top: 57px;
	display: none;
}
.nan2-2{
	display:block;
	width: 230px;
	height: 226px; 
	margin-left: 230px;
	background: pink;
}
.nan2-2 img{
	display: block;
	width: 230px;
	height: 226px;
}
.nan2-3{
	width: 255px;
	height: 87px;
	background: rgba(241, 241,241, 0.9);
	position: absolute;
	margin-top:-141px;
}
.nan2-4{
	width: 0;
	height: 0;
	border-right: 43px solid transparent;
	border-left:43px solid rgba(241, 241,241, 0.9);
	border-bottom: 43px solid transparent;
	border-top: 43px solid transparent;
	margin-left:255px;
}
.nan2-4 img{
	display: block;
	width: 23px;
	height: 23px;
	margin-left: -274px;
	margin-top: -30px;
}
.nan2-4 .lv3{
	display: block;
	width: 255px;
	height: 30px;
	text-align: center;
/* 	background: red; */
	font-size: 24px;
	color: #00b262; 
	line-height: 30px;
	margin-left: -298px;
	margin-top: -27px;
}
.nan2-4 .lv4{
	display: block;
	width: 152px;
	height: 40px;
/* 	background: red; */
	font-size: 16px;
	line-height: 40px;
	margin-left: -298px;
}
.nan2:hover{
	background: #00b262;
}
.nan2:hover .nan2-1{
	display: block;
}
.nan2:hover .nan1{
	background: #f1f1f1;
}
.nan2:hover .nan22{
	display: block;
}
.chao4{
	width: 234px;
	height: 300px;
/* 	background: blue; */
	float: left;
	margin-right: 13px;
	opacity: 1;
	cursor: pointer;
	border: 1px solid #fff;
}
.chao2-1 :nth-child(3){
	margin-right: 0;
}
.chao2-2 :last-child{
	margin-right:-1px;
}
.chao4-1{
	display: block;
	width: 234px;
	height: 210px;
/* 	background: red; */
}
.chao4-1 img{
	display: block;
	width: 234px;
	height: 210px;
/* 	background: red; */
}
.chao4-2{
	width: 234px;
	height: 90px;
	background:#fff;
}
.chao4-2 .zi1{
	display: block;
	width: 234px;
	height: 24px;
	font-size: 12px;
	text-align: center;
	line-height: 24px;
}
.chao4-2 .zi2{
	display: block;
	width: 234px;
	height: 16px;
	font-size: 12px;
	text-align: center;
	line-height: 16px;
}
.chao4-2 .zi3{
	display: block;
	width: 234px;
	height: 42px;
	font-size: 14px;
	color:#ff0036;
	text-align: center;
	line-height: 42px;
}
.chao4:hover{
	border: 1px solid #ff0036;
	opacity:0.7;
}
/* 天猫超市结束 */
/* 天猫国际开始 */
.guoji{
	width: 100%;
	height: 59px;
	background: #f5f5f5;
}
.guoji0{
	width: 1230px;
	height: 69px;
	background:#f5f5f5;
	margin: 0 auto;
}
.guoji0 img{
	display: block;
	width: 214px;
	height: 25px;
	margin-top: 24px;
	float: left;
}
.guoji1{
	width: 255px;
	height: 59px;
	background:#f5f5f5;
	float: right;
}
.guoji1-1{
	width: 255px;
	height: 34px;
	background:#f5f5f5;
	margin-top: 20px;
}
.guoji1-1 li{
	margin-top: 15px;
	display: block;
/* 	width: 48px;
	height: 19px; */
	float: left;
	font-size: 12px;
	text-align: center;
	margin-left: 12px;
	margin-right: 12px;
	cursor: pointer;
}
.guoji1-1 li:hover{
	border-bottom: 1px solid black;
}
.ji1{
	width: 1235px;
	height: 302px;
	margin: 0 auto;
	background: #f5f5f5
}
.ji2{
	width: 1235px;
	height: 315px;
	margin: 0 auto;
	margin-top: 13px;
	margin-bottom: 13px;
	background: #f5f5f5;
}
.ji2 .chao5{
	width: 234px;
	height: 300px;
	float: left;
	margin-right:13px;
	opacity: 1;
}
.chao5{
	width: 234px;
	height: 300px;
	float: left;
	margin-right: 13px;
	opacity: 1;
	cursor: pointer;
	border: 1px solid #fff;
}
.chao5-1{
	display: block;
	width: 234px;
	height: 210px;
}
.chao5-1 img{
	display: block;
	width: 234px;
	height: 210px;
}
.chao5-2{
	width: 234px;
	height: 90px;
	background:#fff;
}
.chao5-2 .zi1{
	display: block;
	width: 234px;
	height: 24px;
	font-size: 12px;
	text-align: center;
	line-height: 24px;
}
.chao5-2 .zi2{
	display: block;
	width: 234px;
	height: 16px;
	font-size: 12px;
	text-align: center;
	line-height: 16px;
}
.chao5-2 .zi3{
	display: block;
	width: 234px;
	height: 42px;
	font-size: 14px;
	color:#ff0036;
	text-align: center;
	line-height: 42px;
}
.chao5:hover{
	border: 1px solid #ff0036;
	opacity:0.7;
}
.ji1 :nth-child(5){
	margin-right: 0;
}
.ji2 :last-child{
	margin-right: 0;
}
.chao6{
	width: 234px;
	height: 300px;
	float: left;
	margin-right: 13px;
	opacity: 1;
}
.chao6:hover{
	opacity:0.7;
}
.chao6-1{
	display: block;
	width: 234px;
	height: 300px;
	position:relative;
}
.chao6-1 img{
	display: block;
	width: 234px;
	height: 300px;
}
.chao6-2{
	width: 70px;
	height: 64px;
	background: rgba(0, 0, 0, 0.8);
	position: absolute;
	top: 174px;
	left: 0;
}
.chao6-2 span{
	display: block;
	width: 36px;
	height: 43px;
	margin-top: 11px;
	margin-left: 14px;
	line-height:22px;
	font-size: 18px;
	color: #fff;
}
.chao6-3{
	width: 128px;
	height: 64px;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 174px;
	left:70px;
}
.chao6-3 span{
	display: block;
	width: 73px;
	height: 43px;
	margin-top: 9px;
	margin-left: 14px;
	line-height:24px;
	font-size: 16px;
	color: #fff;
}
.chao6-1 .icon-gengduo:before{
	color: #fff;
	font-size: 32px;
	position: absolute;
	margin-top: -46px;
	margin-left: 188px;
}
.chao7{
	width: 234px;
	height: 280px;
	float: left;
	margin-right: 13px;
	opacity: 1;
	background:#fff;
	padding-top: 20px;
	border: 1px solid #fff;
}
.chao7-1{
	width: 234px;
	height: 90px;
	background:#fff;
}
.chao7-1 span{
	display: block;
	width: 84px;
	height: 16px;
	font-size: 16px;
	text-align: center;
}
.chao7-1 .c2{
	display: block;
	width: 155px;
	height: 36px;
/* 	background: green; */
	font-size: 12px;
	text-align: center;
	line-height: 36px;
	color: #7a45e5;
}
.chao7-2{
	display: block;
	width: 234px;
	height: 190px;
}
.chao7-2 img{
	display: block;
	width: 234px;
	height: 190px;
}
.chao7:hover{
	border: 1px solid #ff0036;
	opacity:0.7;
}
/* 天猫国际结束 
/* 美丽人生开始 */

.tupian{
	width: 100%;
	height: 90px;
	background:#f5f5f5;
	padding-top: 18px;
}
.tupian1{
	width: 1230px;
	height:90px;
/* 	background: red; */
	margin: 0 auto;
}
.tupian1-1{
	display: block;
	width: 1230px;
	height:90px; 
}
.tupian1-1 img{
	display: block;
	width: 1230px;
	height:90px; 
}
.chaoshi{
	width: 100%;
	height: 69px;
	background: #f5f5f5;
}
.chaoshi0{
	width: 1230px;
	height: 69px;
	background:#f5f5f5;
	margin: 0 auto;
}
.chaoshi0 span{
	display: block;
	width:70px;
	height: 25px;
	margin-top: 29px;
	float: left;
	font-size: 16px;
}
.chaoshi0 .mei2{
    display: block;
	width:300px;
	height: 25px;
	margin-top: 32px;
	float: left;
	font-size: 14px;
}
.chaoshi0 .mei1{
   width: 5px;
   height: 18px;
   margin-right: 13px;
   background:#ea5f8d;
   margin-top: 29px;
   float: left;
}
.chaoshi1{
	width:565px;
	height: 59px;
	background:#f5f5f5;
	float: right;
}
.chaoshi8-1{
	width: 565px;
	height: 34px;
	background:#f5f5f5;
	margin-top: 25px;
}
.chaoshi8-1 li{
	margin-top: 15px;
	display: block;
	width: 48px;
	height: 19px;
	float: left;
	font-size: 12px;
	text-align: center;
	margin-left: 12px;
	margin-right: 12px;
	cursor: pointer;
}
.chaoshi8-1 :first-child,.chaoshi8-1 :nth-child(2){
	width:38px;
}
.chaoshi8-1 :nth-child(6),.chaoshi8-1 :nth-child(7),.chaoshi8-1 :nth-child(8){
	width:25px;
}
.chaoshi8-1 li:hover{
	border-bottom: 1px solid black;
}
.chao0-{
	width: 1230px;
	height: 618px;
	background:#f5f5f5;
	margin: 0 auto;
}
.chao10{
	width: 234px;
	height: 300px;
	float: left;
	margin-right: 0px;
	margin-left: 12px;
	opacity: 1;
	border: 1px solid #fff;
}
.chao10-1 :nth-child(3){
	margin-right: 0;
}
.chao10-2 :last-child{
	margin-right:-1px;
}
.chao10-1{
	display: block;
	width: 234px;
	height: 210px;
/* 	background: red; */
}
.chao10-1 img{
	display: block;
	width: 234px;
	height: 210px;
/* 	background: red; */
}
.chao10-2{
	width: 234px;
	height: 90px;
	background:#fff;
}
.chao10-2 .zi1{
	display: block;
	width: 234px;
	height: 24px;
	font-size: 12px;
	text-align: center;
	line-height: 24px;
}
.chao10-2 .zi2{
	display: block;
	width: 234px;
	height: 16px;
	font-size: 12px;
	text-align: center;
	line-height: 16px;
}
.chao10-2 .zi3{
	display: block;
	width: 234px;
	height: 42px;
	font-size: 14px;
	color:#ff0036;
	text-align: center;
	line-height: 42px;
}
.chao10:hover{
	border: 1px solid #ff0036;
	opacity:0.7;
}
.chao11{
	width: 235px;
	height: 618px;
/* 	background: green; */
	float: left;
	margin-right: 13px;
	opacity: 1;
}
.chao11-2{
	display: block;
	width: 235px;
	height: 618px;
    position: relative;
/* 	background: green; */
}
.chao11-2 img{
	display: block;
	width: 235px;
	height: 618px;
/* 	background: green; */
}
.chao11:hover{
	opacity: 0.7;
}
.chao12{
	width: 70px;
	height: 64px;
	background: rgba(0, 0, 0, 0.8);
	position: absolute;
	top: 430px;
	left: 0;
}
.chao12 span{
	display: block;
	width: 36px;
	height: 43px;
	margin-top: 11px;
	margin-left: 14px;
	line-height:22px;
	font-size: 18px;
	color: #fff;
}
.chao13{
	width: 128px;
	height: 64px;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 430px;
	left:70px;
}
.chao13 span{
	display: block;
	width: 73px;
	height: 43px;
	margin-top: 9px;
	margin-left: 14px;
	line-height:24px;
	font-size: 16px;
	color: #fff;
}
.chao11-2 .icon-gengduo:before{
	color: #fff;
	font-size: 32px;
	position: absolute;
	margin-top: -46px;
	margin-left: 188px;
}
/* 美丽人生结束 */

/* 潮店酷玩开始 */
.chaoshi88{
	width:570px;
	height: 59px;
	background:#f5f5f5;
	float: right;
}
.chaoshi88-1{
	width: 570px;
	height: 34px;
	background:#f5f5f5;
	margin-top: 28px;
}
.chaoshi88-1 li{
	margin-top: 15px;
	display: block;
	width: 48px;
	height: 19px;
	float: left;
	font-size: 12px;
	text-align: center;
	margin-left: 12px;
	margin-right: 12px;
	cursor: pointer;
}
.chaoshi88-1 :last-child{
	width:38px;
}
.chaoshi88-1 :nth-child(1),.chaoshi88-1 :nth-child(2),.chaoshi88-1 :nth-child(3){
	width:25px;
}
.chaoshi88-1 li:hover{
	border-bottom: 1px solid black;
}
.chaoshi0 .mei3{
   width: 5px;
   height: 18px;
   margin-right: 13px;
   background:#0aa6e8;
   margin-top: 29px;
   float: left;
}
/* 潮店酷玩结束 */
/* 居家生活开始 */
.chaoshi0 .mei4{
   width: 5px;
   height: 18px;
   margin-right: 13px;
   background:#00b262;
   margin-top: 29px;
   float: left;
}
.chaoshi99{
	width:680px;
	height: 59px;
	background:#f5f5f5;
	float: right;
}
.chaoshi9-1{
	width: 680px;
	height: 34px;
	background:#f5f5f5;
	margin-top: 25px;
}
.chaoshi9-1 li{
	margin-top: 15px;
	display: block;
	width: 48px;
	height: 19px;
	float: left;
	font-size: 12px;
	text-align: center;
	margin-left: 12px;
	margin-right: 12px;
	cursor: pointer;
}
.chaoshi9-1 :nth-child(4),.chaoshi9-1 :nth-child(5),.chaoshi9-1 :nth-child(6),
.chaoshi9-1 :nth-child(8),.chaoshi9-1 :nth-child(9){
	width:38px;
}
.chaoshi9-1 :nth-child(1),.chaoshi9-1 :nth-child(2),.chaoshi9-1 :nth-child(11){
	width:25px;
}
.chaoshi9-1 li:hover{
	border-bottom: 1px solid black;
}
/* 居家生活结束 */
/* 打造爱巢开始 */
.chaoshi0 .mei5{
   width: 5px;
   height: 18px;
   margin-right: 13px;
   background:#f15453;
   margin-top: 29px;
   float: left;
}
.chaoshi6{
	width:585px;
	height: 59px;
	background:#f5f5f5;
	float: right;
}
.chaoshi6-1{
	width: 585px;
	height: 34px;
	background:#f5f5f5;
	margin-top: 28px;
}
.chaoshi6-1 li{
	margin-top: 15px;
	display: block;
	width: 48px;
	height: 19px;
	float: left;
	font-size: 12px;
	text-align: center;
	margin-left: 12px;
	margin-right: 12px;
	cursor: pointer;
}
.chaoshi6-1 :nth-child(2),.chaoshi6-1 :nth-child(3),.chaoshi6-1 :nth-child(6),
.chaoshi6-1 :nth-child(9){
	width:38px;
}
.chaoshi6-1 :nth-child(1){
	width:25px;
}
.chaoshi6-1 li:hover{
	border-bottom: 1px solid black;
}
/* 打造爱巢结束 */
/* 户外出行开始 */
.chaoshi0 .mei6{
   width: 5px;
   height: 18px;
   margin-right: 13px;
   background:#19c8a9;
   margin-top: 29px;
   float: left;
}
.chaoshi7{
	width:390px;
	height: 59px;
	background:#f5f5f5;
	float: right;
}
.chaoshi7-1{
	width: 390px;
	height: 34px;
	background:#f5f5f5;
	margin-top: 28px;
}
.chaoshi7-1 li{
	margin-top: 15px;
	display: block;
	width: 38px;
	height: 19px;
	float: left;
	font-size: 12px;
	text-align: center;
	margin-left: 12px;
	margin-right: 12px;
	cursor: pointer;
}
.chaoshi7-1 :nth-child(6){
	width:25px;
}
.chaoshi7-1 :nth-child(5){
	width:65px;
}
.chaoshi7-1 li:hover{
	border-bottom: 1px solid black;
}
/* 户外出行结束 */
.cai{
	width: 100%;
	height: 80px;
	background: #f5f5f5;
}
.cai0{
	width: 1230px;
	height: 40px;
	background:#f5f5f5;
	margin: 0 auto;
	padding-top: 40px;
}
.cai1{
	width: 175px;
	height: 18px;
	margin: 0 auto;
}
.cai2{
	width: 30px;
	height: 11px;
	border-bottom: 1px solid #979797;
	float: left;
}
.cai3{
	width: 30px;
	height: 11px;
	border-bottom: 1px solid #979797;
	float:right;
}
.cai1 .icon-taoxin:before{
   display: block;
   font-size: 18px;
   color: #ff0036;
   float: left;
   margin-top: 2px;
}
.cai1 span{
	display: block;
	font-size: 18px;
	color: #666666;
	float: left;
}
.c{
	width: 100%;
	height: 304px;
	background:#f5f5f5;
	padding-top: 13px;
}
.ji22{
	width: 1235px;
	height: 304px;
	margin: 0 auto;
}

.ji22 .chao5{
	width: 234px;
	height: 300px;
	float: left;
	margin-right:13px;
	opacity: 1;
}
.ji22 :last-child{
	margin-right: 0;
}
.ji22 .chao5:hover{
	opacity: 0.7;
}
/* end开始 */

.last{
	width: 100%;
	height: 66px;
	background:#f5f5f5;
	padding-top: 4px;
}
.last img{
   display: block;
   width: 120px;
   height: 62px;
   margin: 0 auto;
}
.end{
	width: 100%;
	height: 151px;
	border-top: 1px solid #ededed;
}
.end1{
	width: 1230px;
	height: 150px;
	margin: 0 auto;
	border-bottom: 1px solid #ededed;
}
.end3{
	width: 307px;
	height: 104px;
	float: left;
	margin-top: 46px;
}
.end3 img{
	margin-left: 76px;
}
.end3 strong{
	display: block;
	margin-top:-60px;
	font-size: 16px;
	margin-left:152px;
}
.end3 span{
	display: block;
	margin-left: 152px;
	font-size: 14px;
	color: #b5b5b5;
	margin-top: 5px;
}
.list{
	width:100%;
	height:212px;
	border-bottom: 2px solid #ff0036; 
}
.list1{
	width: 1230px;
	height: 182px;
	margin: 0 auto;
	padding-top: 30px;
}
.list0{
	width: 65px;
	height: 90px;
	margin-left: 85px;
	margin-right: 85px;
	float: left;
}
.list0 strong{
	font-size: 15px;
	color: #646464;
}
.list0 .list2{
	width:65px;
	height: 55px;
	margin-top: 13px;
	font-size: 11px;
}
/* .list2 li{
	line-height: 18px;
} */
.list2 a{
	color: #8b8b8b ;
	line-height: 18px;
}
.list0-0{
	width: 78px;
	height: 150px;
	margin-left: 85px;
	margin-right: 85px;
	float: left;
}
.list0-0 strong{
	font-size: 17px;
	color: #646464;
}
.list0-0 .list2{
	width:78px;
	height:120px;
	margin-top: 13px;
	font-size: 11px;
	color: #8b8b8b;
}
.list10{
	width: 78px;
	height: 165px;
	margin-left: 85px;
	margin-right: 85px;
	float: left;
}
.list10 strong{
	font-size: 17px;
	color: #646464;
}
.list10 .list2{
	width:78px;
	height:135px;
	margin-top: 13px;
	font-size: 11px;
	color: #8b8b8b;
}
.mao{
	width:105px;
	height:130px;
	float: right;
	margin-right: 123px;
}
.mao img{
	display: block;
	margin-top: 10px;
}
.maomao{
	display: block;
	margin-top: 56px;
}
/* end结束 */
/* 最下面黑色部分开始 */
.d{
	width: 100%;
	height: 198px;
	background:#000;
}
.d .d0{
	width: 1130px;
	height: 198px;
/* 	background: yellow; */
	margin:0 auto;
}
.d .d1{
	width: 650px;
	height: 32px;
/* 	background: blue; */
}
.d .d1 a{
	font-size: 12px;
	float: left;
	line-height: 32px;
	margin-right:7px;
	color: #fff;
}
.d2{
	width: 1150px;
	height: 36px;
/* 	background: green; */
}
.d2 li{
	height: 14px;
	display: block;
	padding-left: 4px;
	padding-right: 8px;
	border-right: 1px solid #fff;
	font-size: 12px;
	float: left;
	margin-top: 11px;
}
.d2 a{
	color: #fff;
}
.d2 :last-child{
	border-right: none;
}
.d3{
	width: 770px;
	height: 20px;
	margin-top: 8px;
/* 	background:green; */
}
.d3 li a{
	display: block;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	margin-right: 68px;
	float: left;
	color: #fff;
}
.d4{
	width: 800px;
	height: 32px;
	background:#000;
	margin-top: 5px;
}
.d4 span{
	display: block;
	height: 32px;
	line-height: 32px;
	font-size: 12px;
	float: left;
	color: #fff;
	float: left; 
	margin-left: -421px;
}
.d4 a{
	display: block;
	height: 32px;
	line-height: 32px;
	font-size: 10px;
	float: left;
	color: #fff;
	float: left; 
	margin-left: -230px;
}
 .d3-1{
	display: block;
	height: 32px;
	line-height: 32px;
	font-size: 12px;
	float: left;
	color: #fff;
	margin-top: -6px;
}
.d4 li .d4-2{
	display: block;
	height: 32px;
	line-height: 32px;
	font-size: 12px;
	float: left;
	color: #fff;
	margin-left: -30px;
}
.d4 li a{
	display: block;
	height: 32px;
	line-height: 32px;
	font-size: 12px;
	float: left;
	color: #fff;
}
.d4-1{
	width: 22px;
	height: 22px;
/* 	background: red; */
	float: left;
	margin-top: 3px;
	background: url('../img/huizhang.png') no-repeat center center;
}
.d5{
	font-size: 11px;
	float: left;
	color: #686868;
	margin-top: 3px;
}
.d6{
	width: 73px;
	height: 30px;
	margin-top: 15px;
	margin-top: 25px;
/* 	background: red; */
	background: url('../img/gong.png') no-repeat center center;
}
.d7{
	width: 73px;
	height: 30px;
	margin-top: 15px;
/* 	background: red; */
	margin-left: 81px;
	background: url('../img/wenhua.png') no-repeat center center;
}
/* 最下面黑色部分结束 